@charset "utf-8";

/* <header> css */
.hedr {
    border-bottom:1px solid #ccc;
    padding:25px 0;
}
.hedr:after {content:""; display:block; clear:both;}
.hedr .hedr-box {width:1000px; margin:0 auto;}
.hedr .logo {float:left; margin:-12px 200px 0 0;}
.hedr li {float:left;}
.hedr nav ul li a {padding:12px 16px;}
.hedr nav ul li a:hover {
    background-color: #3c27c4;
    color:#fff;
}
/* 실행한 후에는 공백 요소를 블럭으로 바꾸고 float시켜 놓은 요소를 해제하라 */
/* 또는 float되어 있는 부모 태그에게 해제 css를 부여한다 */
/* 웹문서가 이쁘게 보이려면? 여백 지정만 잘 하면 안정감이 있으면서 신비성과 주목도도 살아남 */
/* .mainvisual css */
.mainvisual {
    height: 600px;
    background: url(../webresume/image4.jpg) no-repeat center center;
    background-size: cover;
    margin: 0 0 30px 0;
    overflow: hidden;
    animation: my_anima 8s infinite; /* 움직임을 부여하는 스타일. 종류, 실행 시간, 반복 여부 */
}
@keyframes my_anima { /* animation의 진행 퍼센테이지에 따라 키프레임을 부여, 나머지 프레임은 키프레임을 잇는 형식으로 */
    0% {background-size: 100% auto;}
    50% {background-size: 105% auto;}
    100% {background-size: 100% auto;}
}
.mainvisual h1, .mainvisual p {
    width:1000px;
    margin:0 auto;
    color:#fff;
    text-shadow:1px 1px 1px #555; /* 순서대로 X축, Y축, 글자와의 거리(distance), 글자색 */
    line-height:120%;
}
.mainvisual h1 {
    padding:80px 0 0 0;
    font-size:96px;
}
.mainvisual p {font-size:24px;}
/* .portfolio css */
.portfolio {
    width:1000px;
    margin:0 auto;
    padding:60px 0;
    border-bottom:1px solid #ccc;
}
.portfolio:after {content:""; display:block; clear:both;}
.portfolio h2 {
    font-size:32px;
    padding:0 0 30px 0;
}
.portfolio .image li {
    float:left;
    width:227.5px;
    min-height:227.5px;/* 높이 값을 지정해 줘야 그림이 보인다 */
    margin:0 30px 0 0;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
}
.portfolio .image .image1 {background-image:url(../webresume/main.jpg);}
.portfolio .image .image2 {background-image:url(../webresume/image4.jpg);}
.portfolio .image .image3 {background-image:url(../webresume/image3.jpg);}
.portfolio .image .image4 {background-image:url(../images/a.jpg); margin-right:0;}
/* .resume css */
/* px는 픽셀, %, em, rem은 모두 반응형 웹 디자인에서의 비율 단위 */
.resume {
    width: 1000px;
    margin: 30px auto;
}
.resume h2 {
    font-size: 32px;
    padding: 0 0 18px 0;
}
.resume_wrap {
    clear: both;
}
/* clear: 양쪽의 float를 전부 해제시킨다 */
/* .resume_wrap:after {content: ""; display: block; clear: both;} */
.resume .resume_img {
    float: left;
    width: 30%;
    height: 180px;
    overflow: hidden;
    margin:0 2% 30px 0;
    /* border: 1px solid #f00; */
} /* 상하 여백은 height가 인식되고 있는 클래스에 넣자 */
.resume .resume_img img {
    width: 100%;
    transition: all 0.5s; /* 애니메이션이 시작되는 위치 */
}
.resume .resume_img img:hover { /* 마우스를 이미지 위에 올렸을 때 */
    transform: scale(1.2,1.2);
}
.resume .resume_text {
    float: left;
    width: 68%;
    /* border: 1px solid #f00; */
}
.resume .resume_text h3 {
    font-size: 20px;
    margin: 0 0 16px 0;
}
/* footer css */
footer {
    clear: both;
    background-color: #333;
    color: #fff;
}
.ftr {
    margin: 0 auto;
    width: 1000px;
    padding: 50px 0;
}
.ftr:after {content: ""; display: block; clear: both;}
.ftr .logo {
    margin: 0 0 30px 0;
    float: left;
}
.ftr .logo p {
    font-size:24px;
}
.ftr .fbody {
    float: right;
}